<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

	</head>
	<body>
		<div class="container_16">
			
			<div class="clear"></div>
			<!-- sidebar form container -->
			<div class="grid_4 sidebar">

				[% INCLUDE logo.tt %>	

           	<!-- sidebar form container-->


			</div><!-- grid_4 -->
			<div class="grid_12 mainbar" >

				[% PROCESS menu.tt %>
				<div class="box" > <!-- begin form box -->
					[% content %>
				</div>

			</div>
				
			<div class="clear"></div>
			<div class="grid_16" id="site_info">

				[% INCLUDE footer.tt %>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>

